@model IEnumerable<WebsiteAdmission.Models.Post>
@using WebsiteAdmission.Common
@{
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
}
@section css {
    @Styles.Render("~/Content/styles/nhungdieukhacbiet")
}
<style>
    .tin {
        display: -webkit-flex; /* Safari */
        -webkit-flex-wrap: wrap; /* Safari 6.1+ */
        display: flex;
        flex-wrap: wrap;
    }
</style>
<div class="row3">
    <div class="content_post">
        <h3>@Model.Where(s => s.PostID == ViewBag.PostID).First().Title</h3>
        <p>
            @Html.Raw(Model.Where(s => s.PostID == ViewBag.PostID).First().Body)
        </p>
    </div>
    <div class="tin-moi">
        <div class="title-tin-moi">
            <p>TIN MỚI</p>
        </div>
        <div class="line-tin-moi"></div>
        <div class="content-tin-moi">
            @{ int i = 0;}
            @foreach (var item in Model)
            {
                if (i++ == 5)
                {
                    break;
                }
                if (item.PostID == ViewBag.PostID)
                {
                    i--;
                    continue;
                }
                <div class="tin">
                    <a href="@Url.Action("Detail", "Page", new { id = item.PostID })" class="clear_a">
                        <img src="@(Constants.ImagesPosts.GetDescription() + item.PostID + '/' + item.CoverImage)" alt="No Image">
                        <div class="title-tin">
                            <p>
                                <b>
                                    @item.Title
                                </b>
                            </p>
                            <p>@item.PublishedTime</p>
                        </div>
                    </a>
                </div>
            }
        </div>
    </div>
</div>